<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style.css">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
 <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
     /* Additional custom styles for better text truncation */
     .truncate-2-lines {
       display: -webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
       overflow: hidden;
     }
     .message * {
  pointer-events: none;
}
   </style>
</head>
<body class="bg-[#f7f9fc] pt-20 overflow-x-hidden">

  <header class=" bg-white h-20 w-screen [box-shadow:0_2px_10px_rgba(0,0,0,0.1)] flex items-center fixed top-0 left-0 z-7000">
  <div class="w-full h-full bg-white z-1100 flex items-center">
    <h1 class="text-3xl font-bold mx-4 text-blue flex gap-1">Derash <span class="w-3 h-3 rounded-full bg-blue-600 block my-auto"></span></h1>  
   <label for="offcanvasControll" class="ml-auto mr-4 active:bg-blue-400/50 min-[970px]:hidden h-fit flex items-center rounded-lg p-2 controllBar" tabindex="0">
   <i class="text-2xl fas fa-bars controllBar hidden"></i>
   </label> 
  </div>
  
  <input type="checkbox" id="offcanvasControll" class="sr-only peer">
  
    <nav class="w-full absolute top-full bg-white shadow-[0_2px_10px_rgba(0,0,0,0.1)] flex flex-col gap-4 text-lg text-gray-700 min-[970px]:relative min-[970px]:top-0 min-[970px]:h-full min-[970px]:flex-row min-[970px]:ml-auto min-[970px]:mr-5 min-[970px]:w-fit min-[970px]:pr-10 min-[970px]:gap-7 min-[970px]:items-center font-medium z-1000 max-[970px]:peer-not-checked:hidden p-6 border-t border-t-gray-200 pr-5">
          <a href="#"  class="navLink py-2 px-2 min-[640px]:px-5 rounded-lg bg-blue-600 text-white">Home</a>
          <a id="manageLink" href="./managers.html" class="navLink py-2 px-2 min-[970px]:px-5 rounded-lg hidden">Manage</a>
                    <a data-id="sentMsgBtn" class="navLink py-2 px-2 rounded-lg flex-none md:w-fit sentMessagesBtn max-md:block">Sent Messages</a>
          <a href="#" class="navLink py-2 px-2 min-[970px]:px-5 rounded-lg">Drafts</a>
          <a href="#" class="navLink py-2 px-2 min-[970px]:px-5 rounded-lg">About</a>
          <a href="#" class="navLink py-2 px-2 min-[970px]:px-5 rounded-lg max-[970px]:hidden">Account</a>
          <div class="flex w-full gap-2 font-normal items-center border-t pt-2 infoContainer min-[970px]:hidden">
            <div id="ProPic" class="w-12 h-12 aspect-square rounded-full flex-none text-2xl font-medium flex justify-center items-center text-white">
              
            </div>
            
            <div class="w-full">
            <div class="flex items-center">
              <p id="userName" class="text-lg font-medium"></p>
            <a href="/signout" class="ml-auto px-2 py-1.5 border border-gray-500 rounded-full flex-none h-fit text-sm font-medium cursor-pointer hover:bg-red-500 hover:border-none hover:text-white">SIGN OUT</a>
            </div>
              <p id="userEmail" class="text-sm">
              </p>
            </div>
            
          </div>
    </nav>
    

    <div class="h-screen w-screen bg-black/50 fixed top-0 left-0  min-[970px]:hidden peer-not-checked:hidden offcanvas-overlay">
      
    </div>
    
  </header>

  <main class="flex flex-col items-center z-100">

   <img src="/public/images/horseMan1.png"> 
   <h1 class="text-3xl font-bold text-center"> 
   <span class="text-blue-600">Derash</span><br>Message Center</h1>
   <p class="text-sm font-medium text-gray-800 px-4 mt-4">Derash — Bridging people and organizations throw clear communication. </p>
     <button class="px-12 py-3 bg-blue-600 mt-7 rounded-full text-lg text-white  font-medium sendMessageBtn">Send Message</button>
  </main>
  <div class="flex flex-row mt-30 mb-20 items-center overflow-hidden w-full relative -z-100">
  <img src="/public/images/papers.png" class="w-40 -scale-x-100 sm:w-60 md:w-60 documents_paper">
  <p>This website is created to make paperwork simple and efficient for everyone.</p>

    <div class="w-50 sm:w-60 aspect-square rounded-full bg-blue-100 absolute right-0 translate-x-[50%] -z-100">
      
  </div>
  </div>
  
  <div class="flex justify-center ">
    <img src="/public/images/HelpSignAbovePileOfPaperWork-removebg-preview.png" class="w-full sm:w-[40%] help_paper">
  </div>
  
  <div class="w-screen h-70 flex justify-center items-start relative z-5 overflow-hidden">
    <img src="/public/images/paper1.png" class="scale-50 absolute -top-full paper1">
    <img src="/public/images/paper2.png" class="scale-50 absolute -top-full paper2">
    <img src="/public/images/paper3.png" class="scale-50 absolute -top-full paper3">
    <img src="/public/images/paper4.png" class="scale-50 absolute -top-full paper4">
  </div>
  
    <img src="/public/images/personala_pc.png" class="w-80 sm:w-100 mx-auto -translate-y-30">
    
  <div class=" w-screen px-5 bg-white h-screen z-20000 fixed top-0 left-0 flex items-center justify-center -translate-x-full messageFormContainer transition duration-500">
    <button class="absolute top-7 right-5 hidemessageFormContainer">
 <i class="fa-solid fa-arrow-right text-2xl"></i>
    </button>
   <form class="bg-white w-full h-110 rounded-lg [box-shadow:0_2px_10px_rgba(0,0,0,0.1)] p-4 max-w-4xl">
    <label for="title"class="text-gray-700 font-medium">Title</label> 
    <input id="title" type="text" class="w-full p-2 focus:outline-blue-600 outline-1 outline-gray-300 rounded-md mt-2" name="title" required>
    
    <label for="title"class="text-gray-700 font-medium mt-4 block">Description</label> 
    <textarea class="w-full resize-none h-50 focus:outline-blue-600 outline-1 outline-gray-300 rounded-md mt-2 p-2" name="description" required></textarea>
    
    <button type="button" class="px-4 py-3 bg-blue-600 text-white font-medium  rounded-full my-4 show_chooser">Submit Message</button>
   </form> 
  </div>
  
  <div class="px-7 flex justify-center bg-black/20 w-screen fixed top-0 left-0 z-4000000 pt-28 reciever_container transition duration-400 translate-y-full">
    
  <div class="h-screen bg-white flex items-center pt-2 flex-col flex-1 rounded-lg max-w-xl pb-32 relative reciever_popup px-2">
    <button class=" bg-blue-600/80 rounded-full text-white absolute w-12 aspect-square bottom-[101%] hide_chooser">
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <button id="sendmsg" class="py-3 px-10 rounded-full bg-blue-500 text-white fixed bottom-7 right-10 cursor-pointer hidden">
Send <i class="fas fa-arrow-right"></i>
</button>
    <input class="border-none flex-none h-fit px-5 py-2 rounded-lg focus:outline-blue-600 outline-1 outline-gray-400 rounded-md w-full">
    
    <div class="w-full pt-10 flex flex-col gap-4 overflow-y-auto organizationsContainer">

    </div>
    
  </div>
  </div>  <!--messafes container-->
  <div class="flex flex-col flex-1 overflow-hidden messagesContainer h-screen w-screen bg-white fixed top-20 left-0 hidden z-3000">

      <h1 class="text-2xl font-medium mt-4 ml-4 sm:ml-10 md:ml-20">Messages</h1>
      <p class="text-gray-600 ml-4 text-sm mb-7 sm:ml-10 md:ml-20">Manage your messages and updates</p>
      
      <div class="flex flex-col flex-1 min-[970px]:border md:border-gray-500 rounded-2xl min-[950px]:mx-20 pt-4 overflow-hidden mb-15">
        <!-- Notification container with proper constraints -->
        <div class="flex flex-col overflow-y-auto px-4 pb-4">
  <!--messages-->        
          <div class="flex flex-col overflow-y-auto px-4 pb-4 messages"></div>
        
  <!--messages show--> 
  


<div id="messageShow" class="max-[970px]:w-screen max-[970px]:h-screen bg-gray-50 max-[970px]:fixed max-[970px]:top-0 max-[970px]:left-0 z-2000 p-4 pb-12 overflow-y-auto  flex flex-col transition duration-1000 ease-out hidden">
    <button class="mr-auto mb-7 hideMsgContainer">
 <i class="fa-solid fa-arrow-left text-2xl"></i>
    </button>
    
<div class="flex w-full justify-end">
 <p id="sentDate"></p> 
 
</div><br>
<h1 id="msgTitle" class="text-2xl font-medium mb-4"></h1>
<div  id="desContainer" class="break-words"></div><br>
 <div class="flex gap-2 flex flex-col mb-2 mt-auto">
    <h1 id="senderName" class="ml-auto text-lg mr-2"></h1> 
   <div>
     <button class=" bg-gray-800 w-8 aspect-square rounded-full text-white">
<i class="fa-solid fa-phone "></i>
     </button>
     <span id="senderPhone"></span>
   </div>
   <div>
     <button class=" bg-gray-800 w-8 aspect-square rounded-full text-white">
<i class="fa-solid fa-envelope "></i>
     </button>
     <span id="senderEmail"></span>
   </div>
   <div>
     <button class=" bg-gray-800 w-8 aspect-square rounded-full text-white">
    <i class="fas fa-map-marker-alt"></i>
     </button>
     <span id="senderLocation"></span>
   </div>
 </div> 
</div>

        </div>
      </div>
    </div>
    
  <div class="w-screen bg-gray-900 text-white p-3 flex flex-col gap-4 md:flex-row border-none py-8 border-b border-b-gray-200">
    <div class="flex flex-col gap-4 flex-1">
<h1 class="text-3xl font-bold text-blue flex gap-1 ">Derash <span class="w-3 h-3 rounded-full bg-blue-600 block my-auto"></span></h1> 
   <small class="text-gray-400">
     Derash is a digtal message and compliant sending platform. Mainly focused for organizations data exchange safely</small>
    </div>
    <div class="flex flex-col gap-4 flex-1">
    <h1 class="text-xl font-bold">
      Receive notifications and Get Notified</h1> 
      <p class="text-gray-500">
        Subscribe newsletter and get recent news and offers.</p>
    <div class="relative">
      <input type="email" class="py-4 border border-white w-full rounded-xl pr-34 pl-2" placeholder="you@example.com">
      <button class="p-2 bg-indigo-500 absolute top-2 right-2 rounded-xl px-5">Get Notified</button>
    </div>
     </div>
     <div class="flex flex-1 md:justify-center">
    <div class="flex flex-col gap-4 md:w-max">
    <strong class="text-xl my-2">Link</strong>
      <a class="text-gray-400">Licenses</a>
      <a class="text-gray-400">Privacy Policy</a>
      <a class="text-gray-400">Contact</a>
      
    </div>
     </div>
    <div class="flex flex-col gap-4 flex-1">
    <strong class="text-xl my-2">Information</strong>
    <a class="text-gray-400">About Us</a>
    <a class="text-gray-400">Our Team</a>
    <a class="text-gray-400">Our Services</a>
    </div>
  </div>
    <div class="w-screen py-4 bg-gray-900 text-white text-center flex flex-col px-4">
  <span class="w-full h-[1px] bg-gray-200 mb-4 md:hidden"></span>
    © 2025 Derash. All Rights Reserved.
  </div>
  <script>
  let userInfo;
    document.addEventListener("DOMContentLoaded",async()=>{
      const response=await fetch("/userInfo",{
      method:"POST"
    })
       userInfo=await response.json()
       console.log(JSON.stringify(userInfo))
      if(userInfo.message==="user don't exist" || userInfo.message==="no session id"){
        
        document.querySelector(".infoContainer").innerHTML=`<a href="/account.html" class="px-4 py-1 bg-blue-600 text-white rounded-3xl">Sign Up</a>`
        
      }
      else{
    
    const type=userInfo.message.type    
    const ProPic=document.getElementById("ProPic")
   const userName=document.getElementById("userName")
  const userEmail=document.getElementById("userEmail")
  const manageLink=document.getElementById("manageLink")
  ProPic.textContent=userInfo.message.name.substr(0,1) 
  userName.textContent=userInfo.message.name
  userEmail.textContent=userInfo.message.email 
  ProPic.classList.add(`bg-[${userInfo.message.color}]`)
  if(userInfo.message.type==="organizational"){
    document.querySelector('a[href="./managers.html"]').classList.remove("hidden")
  }
      }
    })
    const senderName=document.getElementById("senderName")
    const senderEmail=document.getElementById("senderEmail")
    const descContainer=document.getElementById("descContainer")
    const senderLocation=document.getElementById("senderLocation")
    const sentDate=document.getElementById("sentDate")
    
    const navLink=document.querySelectorAll(".navLink")
    const sendMessageBtn=document.querySelectorAll(".sendMessageBtn")
    const messagesDisplay=document.querySelector(".messages")
    const sentMessagesBtn=document.querySelector(".sentMessagesBtn")
    const messageFormContainer=document.querySelector(".messageFormContainer")
    const reciever_container=document.querySelector(".reciever_container")
    const messagesContainer=document.querySelector(".messagesContainer")
    const controllBar=document.querySelector('[for="offcanvasControll"]')
    const bars_icon=controllBar.querySelector("i")
    
    navLink.forEach(link=>{
      link.addEventListener("click",function(){
      navLink.forEach(activeLink=>{
        activeLink.classList.remove("bg-blue-600","text-white")
      })  
      this.classList.add("bg-blue-600","text-white")
      document.querySelector('#offcanvasControll').checked=false
      bars_icon.classList.toggle("fa-times")
      bars_icon.classList.toggle("fa-bars")
      
      this.classList.toggle("border-blue-600")
      })
    }) 
    
    controllBar.addEventListener("click",function(){
      bars_icon.classList.toggle("fa-times")
      bars_icon.classList.toggle("fa-bars")
      
      this.classList.toggle("border-blue-600")
    })
  document.querySelector('.offcanvas-overlay').addEventListener("click",()=>{
   document.querySelector('#offcanvasControll').checked=false  
         bars_icon.classList.toggle("fa-times")
      bars_icon.classList.toggle("fa-bars")
      
      this.classList.toggle("border-blue-600")
  })  
   
  
  sendMessageBtn.forEach(btn=>{
    
  btn.addEventListener("click",()=>{
    messageFormContainer.classList.remove("-translate-x-full")
  })
  })
 
  
  document.querySelector(".hidemessageFormContainer").addEventListener("click",()=>{
    messageFormContainer.classList.add("translate-x-full")
    setTimeout(()=>{
    messageFormContainer.classList.add("hidden")  
    messageFormContainer.classList.remove("translate-x-full")
    messageFormContainer.classList.add("-translate-x-full")
    },500)
    setTimeout(()=>{
      messageFormContainer.classList.remove("hidden")
    },600)
  })
  
  document.querySelector(".hide_chooser").addEventListener("click",()=>{
    reciever_container.classList.add("translate-y-full")
  })
  
  reciever_container.addEventListener("click",(e)=>{
    if(e.target.classList.contains("reciever_container")){
    reciever_container.classList.add("translate-y-full")
    }
  })
  
  let choosenOrg;
  const messageForm=messageFormContainer.querySelector("form")
  const sendmsgBtn=document.getElementById("sendmsg")
  
  document.querySelector(".show_chooser").addEventListener("click",async()=>{
   if(!messageForm.checkValidity()){
      messageForm.reportValidity()
      return;
    }
   const response=await fetch("/getOrganizations",{
     method:"POST"
   })
   const organizations=await response.json()
   document.querySelector(".organizationsContainer").innerHTML=""
   organizations.forEach(organization=>{
     if(userInfo.message.email !==organization.org_email){
   const container=document.createElement("div")
   const ProPic=document.createElement("div")
   const orgName=document.createElement("h1")
   container.classList.add("organization","p-1","border-b-gray-400","border-b","rounded-lg", "flex","items-center")
   ProPic.classList.add("ProPic","w-12","h-12","aspect-square","rounded-full","flex-none", "text-2xl","font-medium", "flex","justify-center", "items-center","text-white",`bg-[${organization.color}]`)
   orgName.classList.add("ml-4","text-lg")
  ProPic.textContent=organization.name.substr(0,1)
  orgName.textContent=organization.name
  container.appendChild(ProPic)
  container.appendChild(orgName)
  container.setAttribute("data-email",organization.org_email)
  container.addEventListener("click",()=>{
    choosenOrg=organization.org_email
    document.querySelectorAll(".organization").forEach(org=>{
    org.classList.remove("bg-gray-200")
    const checkMark=org.querySelector(".checkMark")
    org.querySelector(".ProPic").classList.remove("hidden")
    if(checkMark){
      org.removeChild(checkMark)
    }
    
    })
    container.classList.add("bg-gray-200")
    const cheacked=document.createElement("i")
    cheacked.classList.add("fas","fa-cheack")
    ProPic.classList.add("hidden")
   const checkMark=document.createElement("div")
   checkMark.classList.add("checkMark","w-12","h-12","aspect-square","rounded-full","flex-none", "text-2xl","font-medium", "flex","justify-center", "items-center","text-white",`bg-blue-400`)
   checkMark.innerHTML=`<i class="fas fa-check"></i>`
   container.prepend(checkMark)
   sendmsgBtn.classList.remove("hidden")
  })
  if(organization.org_email===choosenOrg){
        choosenOrg=organization.email
    document.querySelectorAll(".organization").forEach(org=>{
      
    org.classList.remove("bg-gray-200")
    const checkMark=org.querySelector(".checkMark")
    org.querySelector(".ProPic").classList.remove("hidden")
    if(checkMark){
      org.removeChild(checkMark)
    }
    
    })
    container.classList.add("bg-gray-200")
    const cheacked=document.createElement("i")
    cheacked.classList.add("fas","fa-cheack")
    ProPic.classList.add("hidden")
   const checkMark=document.createElement("div")
   checkMark.classList.add("checkMark","w-12","h-12","aspect-square","rounded-full","flex-none", "text-2xl","font-medium", "flex","justify-center", "items-center","text-white",`bg-blue-400`)
   checkMark.innerHTML=`<i class="fas fa-check"></i>`
   container.prepend(checkMark)
  }
  document.querySelector(".organizationsContainer").appendChild(container)
   reciever_container.classList.remove("translate-y-full")
     }
   })
  })
  // send themessage
  
  sendmsgBtn.addEventListener("click",async()=>{
    const fd=new FormData(messageForm)
    const sentMessage=Object.fromEntries(fd.entries())
    sentMessage.choosenOrg=choosenOrg
    const response=await fetch("/sentMessage",{
      method:"POST",
      headers:{
       "Content-Type":"application/json",
      },
      body:JSON.stringify(sentMessage)
    })
   const res=await response.json()
   if(res.message==="succesfull"){
    reciever_container.classList.add("translate-y-full")
     messageForm.reset()
   }
  })
  
  async function fetchMessages(){
   const messagesFetch=await fetch("/getAllMessages", { 
    method: "POST",
    headers:{
      "Content-Type":"application/json"
    },
    body:JSON.stringify({page:"home"})
  });
  const messagesObj= await messagesFetch.json()
  messagesDisplay.innerHTML=""
  messagesObj.forEach(msg => {
    // Create elements
    const container1 = document.createElement("div");
    const proPic = document.createElement("div");
    const infoContainer = document.createElement("div");
    const senderInfo = document.createElement("div");
    const titleContainer = document.createElement("h1");
    const descContainer = document.createElement("p");

    // Main container
    container1.classList.add(
      "border-b","border-b-gray-200","flex","flex-row",
      "items-start","w-full","gap-3","py-4","message"
    );
    
    // Children — pointer-events disabled globally by CSS
    proPic.classList.add(
      "w-12","h-12","rounded-full","flex","justify-center","items-center",
      "text-white","text-2xl","font-medium",`bg-[${msg.color}]`
    );
    proPic.textContent = msg.name[0];

    infoContainer.classList.add("flex","flex-col","flex-1","min-w-0");
    senderInfo.classList.add("flex","justify-between","items-center","mb-1");
    titleContainer.classList.add("text-gray-900","font-medium","truncate");
    descContainer.classList.add("text-sm","text-gray-600","truncate-2-lines","mt-1");

    // Fill text
    titleContainer.textContent = msg.title;
    descContainer.textContent = msg.message;

    // read/unread indicator
    const date = new Date(msg.sent_date);
    const DateString=date.toLocaleDateString("en-US", {
    weekday: "short",
    month: "short",
    day: "numeric"
  });
     senderInfo.innerHTML = `<span class="font-medium text-lg">${msg.name}</span>
        <span class="text-gray-700 text-sm">${DateString}</span>`
    // build DOM
    infoContainer.appendChild(senderInfo);
    infoContainer.appendChild(titleContainer);
    infoContainer.appendChild(descContainer);
    container1.appendChild(proPic);
    container1.appendChild(infoContainer);

    // ------------------------------
    // CLICK & DOUBLE-CLICK FIXED LOGIC
    // ------------------------------
    // Single Click = OPEN MESSAGE
    container1.addEventListener("click", () => {
         openMessage(msg);
    });

    // FILTER BUTTONS
    messagesDisplay.appendChild(container1);
  });
  
  
 }
 const header=document.querySelector("header")
 let isOpend=false;
 function openMessage(msg) {
   isOpend=true
   if(window.innerWidth <= 970){
    header.classList.add("hidden")
    }
  senderName.textContent = msg.name;
  document.querySelector("#msgTitle").textContent = msg.title;
  senderEmail.textContent = msg.type === "personal" ? msg.email : msg.org_email;
  senderPhone.textContent = msg.phone_number;
  desContainer.textContent = msg.message;
  senderLocation.textContent = msg.location;

  const date = new Date(msg.sent_date);
  sentDate.textContent = date.toLocaleDateString("en-US", {
    weekday: "short",
    month: "short",
    day: "numeric"
  });

  
  messagesDisplay.classList.add("hidden");
  messageShow.classList.remove("hidden");
}

  sentMessagesBtn.addEventListener("click",()=>{
    fetchMessages()
    messagesContainer.classList.remove("hidden")
  })
  
  navLink.forEach(link=>{
  link.addEventListener("click",function(){
    if(this.dataset.id!=="sentMsgBtn"){
    messagesContainer.classList.add("hidden")
    }
  })
  })
  
  document.querySelector(".hideMsgContainer").addEventListener("click",async()=>{
    isOpend=false
    header.classList.remove("hidden")
    messagesDisplay.classList.remove("hidden") 
    messageShow.classList.add("hidden") 
      })
      
      
    window.addEventListener("resize",()=>{
     if(window.innerWidth <= 970 && isOpend===true){
   header.classList.add("hidden")
     }
     else if(window.innerWidth > 970 && isOpend===true){
      header.classList.remove("hidden") 
     }
    })  
  </script>
</body>
</html>